<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
  <h1>🔐 Admin Login</h1>
</header>

<div class="container">
  <div class="card">
    <form method="post">
      <input type="password" name="password" placeholder="Mot de passe admin" required>
      <button type="submit">Se connecter</button>
      {% if error %}
        <p style="color:red">{{ error }}</p>
      {% endif %}
    </form>
  </div>
</div>

</body>
</html>
